.askquestion-main,
.askquestion-h1 {
  max-width: 1000px;
  margin: 3rem auto;
  width: 70%;
}

.askquestion-h1 {
  font-weight: 100;
}

.askquestion-title {
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 44px;
}

.askquestion-main {
  border: 1px solid #adb5bd;
  border-radius: 8px;
  padding: 48px 38px;
}

.askquestion-main > div {
  margin-bottom: 33px;
}

.askquestion-main div h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #212529;
  padding-bottom: 11px;
}

.askquestion-main div p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6c757d;
  padding-bottom: 14px;
}

.askquestion-main div input {
  border: 1px solid #ced4da;
  border-radius: 4.8px;
  color: #000000;
  padding: 8px 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  width: 100%;
}

.askquestion-button {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  padding: 8px 16px;
  background-color: var(--codeaskgreen);
  border: 1px solid var(--codeaskgreen);
  border-radius: 4.8px;
  color: var(--white);
  margin-left: 15%;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: transform ease 0.4s;
}

.askquestion-button:hover {
  transform: scale(1.1);
}

.askquestion-main div input:focus {
  border: 1px solid #adb5bd;
  outline: none;
}

/* ASK QUESTION MODAL */

.askquestion-modal {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 40, 40, 0.25);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.askquestion-modal-main {
  width: 600px;
  background-color: var(--codeaskgreen);
  padding: 32px 44px;
  color: var(--white);
  border-radius: 8px;
}

.askquestion-modal .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.askquestion-modal .title h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
}

.askquestion-modal .title i {
  font-size: 40px;
}

.askquestion-modal .main {
  padding-bottom: 20px;
}

.askquestion-modal .main p {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  padding-bottom: 10px;
}

.askquestion-modal .main .first {
  padding-bottom: 30px;
}

.askquestion-modal .main .second {
  padding-bottom: 20px;
}

.askquestion-modal .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.askquestion-modal .bottom button {
  font-weight: 300px;
  font-size: 20px;
  padding: 8px 16px;

  background-color: #003636;
  border: 1px solid var(--codeaskgreen);
  border-radius: 4.8px;
  color: var(--white);
}

.askquestion-modal .bottom p {
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #3d8bfd;
}

.askquestion-modal .bottom p:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .askquestion-h1 {
    font-size: 24px;
  }
  .askquestion-main,
  .askquestion-h1 {
    width: 90%;
  }
  .askquestion-button {
    margin-left: 5%;
  }
}
