.checkmail-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0;
    gap: 0;
    padding: 0;
}

.checkmail-wrapper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.checkmail-header{
    font-weight: 500;
    font-size: 22px;
    color: #002828;;
    text-align: center; 
    display: block;
    margin-bottom: 20px;
}

.checkmail-text{
    font-weight: 300;
    font-size: 20px;
    color: var(--black);
    text-align: center; 
}

@media screen and (max-width: 940px) {
    .checkmail-container{
        display: flex; 
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .checkmail-wrapper{
        flex-direction: column;
        gap: 2px;
    }

    .checkmail-header{
        font-size: 20px; 
        margin-bottom: 5px;
        margin-top: 50px;
    }

    .checkmail-text{
        font-size: 18px;
    }
    
}