/* MAIN BODY OF THE DASHBOARD */
.dash-body {
  background-color: #fff;
  border-radius: 4px;
  max-width: 100%;
  min-height: 100vh;
  padding: 10px;
  margin-top: 100px;
  margin-left: 125px;
  margin-right: 10px;
  animation: all 0.5s;
}
.dash-body .user-details {
  display: flex;
  justify-content: space-between;
  /* height: 150px; */
}
.dash-body .user-details .user {
  display: flex;
  width: 52%;
}

.user img {
  height: 150px;
  border-radius: 4px;
}
.user .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.details h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 57.6px;
}
.details h3 {
  font-weight: 300;
  font-size: 28px;
  line-height: 33.6px;
  color: #6c757d;
}
.details .icons {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  color: #6c757d;
  text-decoration: none;
  margin-top: 20px;
}
.icons a i {
  margin-right: 12px;
  width: 21.76px;
  height: 17.69px;
  color: #6c757d;
}
.icons p {
  margin-right: 12px;
}
.user-details .edit-btn {
  background-color: #002828;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  cursor: pointer;
  height: 48px;
}
.edit-btn .fa-pencil {
  margin-right: 10px;
}

#dashboard-mainpage {
  display: grid;
  grid-template-columns: 2fr 10fr;
  margin-top: 30px;
  gap: 20px;
  padding-bottom: 100px;
}
.stats-col .stat-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #e6eaea 1px solid;
  width: 100%;
  height: 70px;
  padding: 7px;
  border-radius: 4px;
}
.stats-col .stat-numbers p {
  color: #adb5bd;
}
.dashboard-mainpage h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 24.8px;
  margin-bottom: 10px;
}
.about-col p {
  color: #6c757d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.stat-numbers h3 {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.dashboard-mainpage p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.dashboard-mainpage .top-post {
  margin-top: 30px;
}
.dashboard-mainpage .top-post a {
  display: block;
  text-decoration: none;
  color: #002828;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.dashboard-mainpage .top-post .question-lists {
  margin-top: 20px;
  border: #e6eaea 1px solid;
}
.dashboard-mainpage .top-post .question-lists .question-list-a,
.question-list-b,
.question-list-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #e6eaea 1px solid;
  margin: -1px;
  padding: 10px;
}
.dashboard-mainpage .top-post .question-lists .tags {
  background-color: #c7d9d9;
  padding: 4px 7px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 21px;
}
.dashboard-mainpage .pre-list {
  display: flex;
  justify-content: space-between;
}
.dashboard-mainpage .pre-list .pre-list-links a {
  display: inline;
  text-decoration: none;
  margin-left: 15px;
  color: #000;
}
.dashboard-mainpage .pre-list .pre-list-links a:first-child {
  background-color: #e6eaea;
  padding: 8px 16px;
  border-radius: 4px;
}

/* Mobile and tablet screen */
@media screen and (max-width: 855px) {
  body {
    background: transparent;
  }

  header {
    height: 55px;
    background-color: #002828;
    color: white;
    left: 0;
    width: 100%;
  }
  header .mobile-codeAsk-logo {
    visibility: visible;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-codeAsk-logo .outer-logo {
    position: relative;
    height: 50px;
    margin-right: 7px;
  }
  .mobile-codeAsk-logo .inner-logo {
    position: absolute;
    left: 18px;
    top: 15px;
  }
  header > h1 {
    display: block;
    height: 45px;
  }

  header > h1 > img {
    display: block;
    max-height: 100%;
  }

  header input {
    display: none;
  }

  header .search {
    display: none;
  }

  .search-icon {
    position: static;
  }

  .notification .search-icon {
    display: block;
  }

  .notification {
    gap: 10px;
  }

  .left-col {
    display: none;
  }

  main .dash-body {
    max-width: 100%;
    width: 100%;
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
  }

  .dash-body .user-details .user {
    flex-direction: column;
  }

  .user img {
    height: 150px;
    width: 150px;
  }

  .user .details {
    margin-left: 0;
  }

  .details h1 {
    font-size: 40px;
  }

  .dashboard-mainpage {
    display: block;
  }

  .stats-col .stat-numbers {
    width: 60%;
  }

  #dashboard-mainpage > div.dashboard-mainpage > div.stats-col {
    margin: 30px 0;
  }

  .dashboard-mainpage .pre-list {
    flex-direction: column;
  }

  .dashboard-mainpage .pre-list .pre-list-links {
    margin: 10px 0;
  }

  .dashboard-mainpage .pre-list .pre-list-links a {
    margin-left: 0;
    margin-right: 10px;
  }

  .dashboard-mainpage .top-post .question-lists .question-list-a,
  .question-list-b,
  .question-list-c {
    display: block;
  }

  .dashboard-mainpage .top-post a:nth-of-type(2) {
    text-align: right;
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  main .dash-body {
    margin-top: 50px;
  }

  .dash-body .user-details .user {
    width: 100%;
  }

  .user-details .edit-btn {
    margin-top: 10px;
  }

  .dash-body .user-details {
    display: block;
  }
}

@keyframes smooth {
  from {
    width: 114px;
  }

  to {
    width: 190px;
  }
}

@keyframes shift {
  from {
    margin-left: 125px;
    width: 100%;
  }

  to {
    margin-left: calc(125px + 76px);
    width: calc(100% - 76px);
  }
}
