.cyclic-design1 {
  position: fixed;
  left: 0;
  bottom: 0;
}
.signup-image-wrap{
  margin-top: 10px;
  text-align: center;
}
.signup-image {
  background-color: var(--codeaskgreen);
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.signup-image-brief {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.signup-image h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 10px 40px 10px;
  white-space: wrap;
  text-align: center;
}

.tabletphone-image {
  object-fit: fill;
  width: 80%;
}
.codeask-form-logo {
  display: none;
}

/* VERY LARGE SCREEN ABOVE 1200PX */
@media only screen and (min-width: 1200px) {
  .signup-image-wrap{
    margin-top: 100px;

  }
  .signup-image .tabletphone-image {
    object-fit: fill;
    width: 75%;
    height: auto;
  }
}

@media only screen and (min-width: 1300px) {
  .signup-image .tabletphone-image {
    object-fit: fill;
    width: 78%;
    height: auto;
  }
}

@media only screen and (min-width: 1500px) {
  main .signup-image .tabletphone-image {
    object-fit: fill;
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 940px) {
  .signup-image {
    display: none;
  }
  .codeask-form-logo {
    padding-top: 30px;
    display: block;
  }
}
