@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200;400&family=Roboto:wght@100;300;400;500&display=swap');

/* CSS VARIABLES */
:root {
  --codeAskGreen: #002828;
  --eyeSlash: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.about-main {
  background-color: #ffffff;
  padding: 100px 100px 100px 100px;
  min-height: 100vh;
  position: relative;
}

.yellow-box {
  height: 42.59px;
  width: 42.42px;
  background-color: #fdd231;
}

.green-design1 {
  position: absolute;
  right: 70px;
  transform: rotate(45deg);
  z-index: 0;
}

.green-design2 {
  position: absolute;
  left: 70px;
  top: 900px;
  transform: rotate(45deg);
  z-index: 0;
}

.green-design3 {
  position: absolute;
  right: 100px;
  bottom: 920px;
  transform: rotate(45deg);
  z-index: 0;
}

.green-design4 {
  position: absolute;
  right: 100px;
  bottom: 450px;
  transform: rotate(45deg);
  z-index: 0;
}

.green-design5 {
  position: absolute;
  left: 100px;
  bottom: 50px;
  transform: rotate(45deg);
  z-index: 0;
}

.yellow-design1 {
  position: absolute;
  left: 300px;
  top: 120px;
  transform: rotate(45deg);
}

.yellow-design2 {
  position: absolute;
  right: 100px;
  top: 600px;
  transform: rotate(45deg);
  z-index: -5;
}

.yellow-design3 {
  position: absolute;
  left: 600px;
  top: 730px;
  transform: rotate(45deg);
  z-index: 0;
}

.yellow-design4 {
  position: absolute;
  left: 430px;
  bottom: 870px;
  transform: rotate(45deg);
  z-index: 0;
}

.yellow-design5 {
  position: absolute;
  left: 120px;
  bottom: 520px;
  transform: rotate(45deg);
  z-index: 0;
}

.yellow-design6 {
  position: absolute;
  right: 370px;
  bottom: 50px;
  transform: rotate(45deg);
  z-index: 0;
}

.green-box {
  height: 55.17px;
  width: 54.66px;
  background-color: #41caae;


}

.header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.header h1 {
  font-size: 62px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--codeAskGreen);
}

.header p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #5c646d;
  line-height: 35px;
}

.about-section {
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}

.about-section img {
  height: 725px;
  width: 608px;
  border-radius: 24px;
}

.about-section .about-content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.005em;
  color: var(--codeAskGreen);
  margin-bottom: 30px;
  text-align: center;
}

.about-section .about-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #5c646d;
  line-height: 35px;
  max-width: 1700px;
  margin: auto;
}

.container .heading {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}

.container .heading h1 {
  color: var(--codeAskGreen);
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.005em;
  margin-bottom: 20px;
}

.container .heading p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #343a40;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  width: fit-content;
  padding: 10px 0;
  margin: auto;
  max-width: 100%;
}

.grid .team-card {
  position: relative;
  text-align: center;
  min-height: 400px;
  max-width: 300px;
  line-height: 2;
  /* overflow: hidden; */
}

.team-card .overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--codeAskGreen);
  color: #d5d5d5;
  text-align: start;
  padding: 0 20px;
  border-radius: 24px;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease;
}

.team-card:hover .overlay {
  opacity: 1;
}

.team-card .overlay .socials a {
  color: #d5d5d5;
  margin-right: 15px;
  margin-top: 50px;
  font-size: 24px;
}

.team-card .overlay-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.team-card .overlay-content .role {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.team-card .overlay-content .hobbies {
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;
}

.overlay .overlay-content {
  margin: 200px auto;
  transform: translateY(-50%);
}

.team-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.grid .image img {
  height: 300px;
  width: 100%;
  border-radius: 24px;
  margin-bottom: 20px;
}

@media (max-width: 1000px) {

  .about-main {
    padding: 100px 70px 10px 70px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    column-gap: 50px;
    margin-bottom: 100px;
  }


  .header h1 {
    font-size: 50px;
  }

  .header p {
    font-size: 20px;
 
  }

  .about-section .about-content h2 {
    font-size: 35px;
  }

  .about-section .about-content p {
    font-size: 20px;
  }


  .container .heading h1 {
    font-size: 35px;
  }

  .container .heading p {
    font-size: 20px;
  }

}

@media (max-width: 650px) {
  .about-main {
    padding: 70px 50px 10px 50px;
  }

  .header {
    text-align: left;
    width: 100%;
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  .container .heading {
    text-align: left;
    width: 330px;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 18px;
   
  }

  .about-section .about-content h2 {
    font-size: 30px;
    text-align: left;
  }

  .about-section .about-content p {
    font-size: 18px;
  }


  .container .heading h1 {
    font-size: 30px;
  }

  .container .heading p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 400px) {
  .about-main {
    padding: 50px 50px 10px 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
  }

  .container .heading {
    text-align: left;
    width: 100%;
  }
}



@media (max-width: 800px) {
  .green-design1 {

    right: 10px;
  }

  .green-design2 {

    left: 20px;
    top: 900px;

  }

  .green-design3 {

    right: 15px;
    bottom: 920px;

  }

  .green-design4 {

    right: 100px;
    bottom: 450px;

  }

  .green-design5 {

    left: 100px;
    bottom: 50px;

  }

  .yellow-design1 {

    left: 140px;
    top: 120px;

  }

  .yellow-design2 {

    right: 100px;
    top: 600px;

  }

  .yellow-design3 {

    left: 100px;
    top: 730px;

  }

  .yellow-design4 {

    left: 220px;
    bottom: 870px;

  }

  .yellow-design5 {

    left: 120px;
    bottom: 520px;

  }

  .yellow-design6 {

    right: 200px;
    bottom: 50px;

  }
}