div.desktopbackground {
  background-color: #e5e5e5;
  position: fixed;
  z-index: -5;
  height: 100%;
  width: 100%;
}


.question-main {
  background-color: #e5e5e5;
  height: 100%;
}


.notification {
  display: flex;
  align-items: center;
  position: relative;
}

.notification .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notification .status {
  position: absolute;
  right: 0;
  top: 0;
}

/* SIDEBAR */
.left-col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #002828;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  height: 100vh;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 114px;
}

.left-col:hover {
  width: 190px;
  align-items: start;
  padding-left: 20px;
  padding-right: 20px;
  animation: smooth 0.5s ease-in-out;
}

.left-col .upper-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
}

.left-col .upper-icons .codeAsk-logo {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left-col .upper-icons .codeAsk-logo h4 {
  color: #c7d9d9;
  margin-left: 10px;
  display: none;
}

.left-col .upper-icons a .outer-logo {
  width: 56px;
  height: 56px;
}

.left-col .upper-icons a .inner-logo {
  position: absolute;
  top: 15px;
  left: 9px;
  width: 39px;
  height: 27px;
}

.left-col .upper-icons a .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c7d9d9;
  text-decoration: none;
}

.left-col .lower-icon a {
  display: flex;
}

.left-col .lower-icon span {
  margin-left: 10px;
  display: none;
}

.left-col a {
  text-decoration: none;
  color: #c7d9d9;
}

.left-col .upper-icons .icon span {
  margin-left: 10px;
  display: none;
}

.left-col .upper-icons .icon .number {
  background-color: #c7d9d9;
  color: #002828;
  padding: 1px 3px;
  border-radius: 2px;
  font-size: 10px;
}

.left-col img {
  width: 23px;
  height: 23px;
}

/* THE RIGHT SIDE OF THE ANSWER PAGE */

.flex-question {
  margin-left: 120px;
  padding-top: 25px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;

  gap: 30px;

  position: relative;
  z-index: 0;
  height: 100%;
}

.flex-question .left-side {
  width: 70%;
}

.right-side {
  width: 30%;
  position: fixed;
  top: 120px;
  right: 30px;
  padding-left: 80px;
}

.top-weekly {
  width: 100%;
  padding: 24px 16px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
}

@media only screen and (max-width: 900px) {
  .flex-question {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    padding-bottom: 30px;
    z-index: 0;
    height: 100%;
  }

  .question-main {
    position: relative;
    z-index: 0;
  }

  .flex-question .left-side {
    width: 100%;
  }

  .right-side {
    width: 100%;
    position: static;
    padding-left: 0px;
  }
}

.top-weekly h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #000;
}

.top-weekly a {
  text-decoration: none;
}

.top-weekly img {
  margin-right: 15px;
  height: 22px;
  width: 22px;
  margin-top: 4px;
  margin-left: 4px;
}

.top-weekly .hot-topics {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 15px;
}

.top-weekly .hot-topics p {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  color: #6c757d;

}

.trending-tags {
  background-color: #fff;
  width: 100%;
  padding: 24px 16px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);

  display: flex;
  flex-direction: column;
}

.trending-tags h2 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #000;
}

.trending-tags ul {
  color: #002828;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.trending-tags ul li {
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  background-color: #c7d9d9;
  padding: 1px 5px;
  margin: 10px 4px 7px 0;
}

/* MODAL POP UP CSS CODE STARTS HERE */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  left: 0px;
  top: 0px;
  background: rgba(0, 40, 40, 0.25);
  z-index: 11;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-pop {
  display: flex;
  flex-direction: column;

  padding: 80px;
  gap: 40px;

  position: relative;
  background: #002828;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.175);
  border-radius: 8px;

  width: fit-content;
  height: fit-content;
}

.modal-pop h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.modal-pop .modal-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;


}

.modal-pop .modal-content .sign-in {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 54px 4px 20px;
  gap: 10px;

  /* width: 332px; */
  height: 77px;

  background: #003636;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
  /* align-items: center; */
  justify-content: center;
}

.modal-pop .modal-content .sign-up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 54px 4px 20px;
  gap: 10px;

  /* width: 332px; */
  height: 77px;

  background: #003636;
  border-radius: 4px;

  flex: none;
  order: 1;
  flex-grow: 0;
  /* align-items: center; */
  justify-content: center;
}


@media only screen and (max-width: 900px) {

  .modal-pop .modal-content {
    flex-direction: column;
    width: 100%;
  }

  .modal-pop {
    padding: 60px;
    gap: 30px;
  }

  .modal-pop .modal-content .sign-in {
    width: 100%;
    height: 77px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .modal-pop .modal-content .sign-up {
    width: 100%;
    height: 77px;
    padding-top: 10px;
    padding-bottom: 10px;
  }


}

@media only screen and (max-width: 650px) {

  .modal-pop {
    padding: 60px 40px 40px 40px;
    gap: 20px;
  }

  .modal-pop h1 {
    font-weight: 400;
    font-size: 20px;
  }

  .modal-text-1 a {

    font-size: 20px;
  }

  .modal-text-1 p {

    font-size: 18px;
  }

  .modal-text-2 a {

    font-size: 20px;
  }

  .modal-text-2 p {

    font-size: 18px;
  }
}

.sign-in div img {
  position: absolute;
}

.sign-up div img {
  position: absolute;
}

.sign-in .modal-text-1 .modal-text-2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.modal-text-1 a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-left: 59px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
  padding: 4px 10px;
  gap: 10px;
  width: 172px;
  height: 32px;
}

.modal-text-1 p {
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin-left: 68px;
  color: #ffffff;
}

.modal-text-2 a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-left: 66px;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
  padding: 4px 10px;
  gap: 10px;
  width: 172px;
  height: 32px;
}

.modal-text-2 p {
  height: 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  margin-left: 74px;
  line-height: 120%;
  color: #ffffff;
}

span#closeButton {
  position: absolute;
  /* width: 14px;
  height: 29px; */
  right: 20px;
  top: 20px;
  cursor: pointer;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #ffffff;
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}

@media only screen and (max-width: 650px) {

  .modal-pop {
    padding: 60px 40px 40px 40px;
    gap: 20px;
  }

  .modal-pop h1 {
    font-weight: 400;
    font-size: 24px;
  }

  .modal-text-1,
  .modal-text-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .modal-text-1 a {

    font-size: 20px;
  }

  .modal-text-1 p {

    display: none;
  }

  .modal-text-2 a {

    font-size: 20px;
  }

  .modal-text-2 p {

    display: none;
  }

  .sign-up div,
  .sign-in div {
    display: flex;
    align-items: center;
  }

}

@media only screen and (max-width: 450px) {

  .modal-pop .modal-content .sign-up,
  .modal-pop .modal-content .sign-in {

    padding: 4px 0px 4px 20px;
  }

  .modal-pop {
    width: 90%;
  }

}

@keyframes smooth {
  from {
    width: 114px;
  }

  to {
    width: 190px;
  }
}

@keyframes shift {
  from {
    margin-left: 120px;
    width: 59%;
  }

  to {
    margin-left: calc(120px + 76px);
    width: calc(59% - 76px);
  }
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.questions-wrapper a {
  text-decoration: none;
}


.question-page {
  position: relative;
  background-color: #fff;
  padding: 30px 20px;
  /* margin-top: 130px; */
  /* width: 58%; */
  /* margin-left: 120px; */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  animation: shift 0.5s ease-out;
  height: fit-content;
}

.questions-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 48px;

  margin-bottom: 30px;
  animation: shift 0.5s ease-out;
}

.questions-header a {
  font-size: 28px;
  font-weight: 300;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.questions-header a:hover {
  text-decoration: underline;
}

.question-button a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: #002828;
  border: 1px solid #002828;
  border-radius: 4.8px;
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
}

.question-top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 16px;
  gap: 197px;
  border-bottom: 1px solid #f2eee8;
}

.question-top-navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  width: 310px;
  height: 40px;
}

.question-top-navbar ul li {
  list-style: none;
}

.question-top-navbar ul li a {
  width: 89px;
  height: 24px;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #002828;
  text-decoration: none;
}

.question-top-navbar ul li a.active {
  background: #e6eaea;
  width: 86px;
  height: 40px;
  border-radius: 4px;
  padding: 8px 16px;
  gap: 4px;
}

/* Button are used instead of links */
.question-top-navbar ul li button {

  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #002828;
  text-decoration: none;
  border: none;
  background: transparent;
}

.question-top-navbar ul li button.active {
  background: #e6eaea;
  /* width: 86px;
  height: 40px; */
  border-radius: 4px;
  padding: 8px 16px;
  gap: 4px;
}




.questions {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 12px;
  width: 100%;
}

.question-box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 0px;
  gap: 12px;
  width: 100%;
  border-bottom: 1px solid #f2eee8;

}

.question-box img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  isolation: isolate;
  width: 12%;
  aspect-ratio: 1/1;
  border-radius: 999px;
}

.question-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
}

.question-statement {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

.question-statement p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #050f17;
}

.question-box-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.question-box-tags span {
  background-color: #ebebeb;
  padding: 2px 6px;
  border-radius: 8px;
}

.question-box-tags ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  height: 23px;
}

.question-box-tags ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 8px;
  height: 23px;
  background: #c7d9d9;
  border: 1px soild rgba(219, 144, 0, 0.15);
  border-radius: 4px;
  color: #002828;
}

.question-box-tags p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  color: #000000;
}

.question-box-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 16px 16px 0;
  gap: 12px;
}

.views-answers {
  color: #8C9194;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #f2eee8;
  padding: 5px 16px;
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  gap: 16px;
}

.views-answers p {
  white-space: nowrap;
}


@media only screen and (max-width: 900px) {
  .question-main {
    background-color: #ffffff;
  }

  .question-page {
    padding: 30px 0px;
  }

  .questions-header a {
    font-size: 18px;
  }

  .question-button a {
    font-size: 18px;
  }

  .question-content {
    width: 100%;
  }

  .questions:first-child {
    border-top: 1px solid #f2eee8;
  }

  .question-statement {
    gap: 20px;
  }

  .question-top-navbar {
    justify-content: flex-end;
    align-items: center;
    padding: 8px 0px;
    margin-bottom: 30px;
    border-bottom: none;
  }

  .question-page,
  .top-weekly,
  .trending-tags {
    box-shadow: none;
    padding: 24px 0px;
  }


  .question-box {
    flex-direction: column-reverse;
    border-bottom: 1px solid #f2eee8;
    /* border-top: 1px solid #f2eee8; */
  }

  .views-answers {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    color: #002828;
    width: 100%;
    padding: 5px 0px;
  }

  .question-box img {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .question-box img {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .question-button a {
    font-size: 16px;
    padding: 6px 12px;
  }

  .questions-header a {
    font-size: 16px;
  }
}