* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --codeaskblue: #002828;
  --white: #ffffff;
  --black: #212529;
  --grey: #6C757D;
}
.asterik{
  color: red;
}



.mainwrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: max-content;
}


/* SIGNUP INTRO */
.cyclic-design2 {
  position: absolute;
  top: 0;
  right: 0;
}



/* SIGNUP FORM */

.signup {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;

}

.signin {
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* width: 100%; */
  width: 60%;
}

.signupform-wrapper {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.signupform-wrapper .codeaskform-logo-wrapper {
  display: none;
}

/* .signup-intro {
  width: 45%;
} */

.signupform-wrapper .signup-intro h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: var(--black);
  padding-bottom: 12px;
  text-align: center;
  white-space: nowrap;

}

.signupform-wrapper .signup-intro p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  padding-bottom: 15px;
  text-align: center;
  padding-bottom: 50px;

}

.signupform-wrapper {
  width: 50%;
}



.remember-me {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
  margin-bottom: 8px;
}

.fogotPasswordLink a {
  color: #131518;
}


.link {
  padding-left: 200px;
}

.signin-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 90px;
}

/* INPUT LABEL CSS */


/* INPUT BOX CSS */
.signup-input {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--grey);
  padding: 8px 12px;
  width: 100%;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  margin-top: 10px;
}
.input-eye{
  display: flex;
}

.toggle-password{
  margin-left: -30px;
  padding-top: 10px;
  cursor: pointer;
}
.form-wrapper {
  margin-bottom: 10px;
  padding: 10px 0;
  width: 100%;
}

.cpwrapper {
  display: none;
}

/* PASSWORD VISIBILITY EYE */

form i {
  margin-left: -30px;
  cursor: pointer;
}




/* FOCUS ON INPUT BOX */
.signup-input:focus {
  outline: none;
  border: 1px solid var(--codeaskblue);
}

/* HORIZONTAL BAR  */
.hr {
  color: var(--grey);
  margin-bottom: 18px;
}

/* ALL SIGNUP BUTTON */
.signup-btn {
  display: block;
  width: 100%;
  background-color: red;
  padding: 6px 12px;
  margin-bottom: 16px;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
}

/* GET STARTED BUTTON */
.signup-btn.get {
  color: var(--white);
  background-color: var(--codeaskblue);
  border: 1px solid var(--codeaskblue);
}
.linkedIn{
  color: rgb(26, 26, 149);
  font-size: 20px;
}
.github{
  font-size: 20px;
  color: black;
}
.google{
  padding-top: 2px;
  font-size: 20px;
}

/* .buton{
  background-color: red;
  display: block;
  justify-content: baseline;
   color:  pink;
} */
/* SIGNUP UP WITH GOOGLE LINKEDIN AND GITHUB BUTTON */
.signup-btn.link {
  color: var(--codeaskblue);
  background-color: var(--white);
  border: 1px solid var(--codeaskblue);
  display: inline-block;
  align-items: left;
}

.signup-btn.link .signup-link-icons {

  margin-right: 4px;
  margin-bottom: 2px;
  /*To make the icons align vertically */
  display: inline-block;
  vertical-align: middle;
}

.signup-brief {

  color: var(--grey);
  margin-top: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.signup-brief span a {
  color: var(--codeaskblue);
  text-decoration: underline;
  font-size: 16px;

}


.back-button,
.back-button a {
  color: var(--grey);
  margin: 20px 0px;
}

.remember,
.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.remember-me {
  padding: 10px 0 0 5px;
}

.signuplink {
  text-decoration: underline;
  color: #002828;
}



/* FORM DESKTOP TO TABLET */
@media only screen and (max-width: 1020px) {
  .signupform-wrapper .signup-intro {
    width: 60%;
  }

  .signupform-wrapper .signup-form {
    width: 60%;
  }
}

/* FROM TABLET TO MOBILE */
@media only screen and (max-width: 940px) {

  .signup{
    width: 80%;
  }
  .signin{
    width: 80%;
  }

  .signupform-wrapper .signup-intro {

    margin-top: 40px;
    width: 80%;
    margin: auto;
  }

  .signup-intro h3{
    padding-top: 30px;
  }

  .signupform-wrapper .signup-form {
    width: 90%;
  }

  .signupform-wrapper .codeaskform-logo-wrapper {
    display: block;
    margin-bottom: 3%;
    margin-top: 0%;
  }

  .signin-wrap {
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    padding-left: 0px;
  }
}


@media only screen and (max-width: 940px) {
  .signup{
    width: 80%;
  }
  .signup-image {
    display: none;
  }

  .signupform-wrapper {
    width: 100vw;
  }

  .signupform-wrapper .signup-intro h3 {
    font-size: 23px;
    line-height: 23px;
  }
}

@media only screen and (max-width: 820px) {
  .signup{
    width: 80%;
  }
  .signupform-wrapper .codeaskform-logo-wrapper {
    margin-top: 20%;
  }
}

/* @media only screen and (max-width: 390px) {
    main .signupform-wrapper .signup-form .signup-brief span{
      display: block;
    }
  } */